.splashScreen {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background: #6c63ff;
  /* border-bottom: 5px solid #333; */
  overflow: hidden;
}
.loadingContainer {
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  overflow: hidden;
}
.loadingBox {
  width: 100%;
  height: 100%;
  opacity: 0;
}
.splashLogo {
  width: 50%;
  margin: 0 0 50px;
}
.loadingBarContainer {
  width: 100%;
  background: #eee;
  height: 10px;
  display: block;
  margin: 25px 0 0;
  overflow: hidden;
}
.loadingbar {
  width: 100%;
  height: 10px;
  background: #2a2563;
  position: absolute;
  left: -100%;
}
.loadingCircle {
  width: 75px;
  height: 75px;
  margin: 30px auto 0;
  background: #6c63ff;
  display: block;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}
.circleOuter {
  width: 60px;
  height: 60px;
  background: #6c63ff;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.circleLoader {
  width: 75px;
  height: 75px;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 0%,
    rgba(125, 185, 232, 0) 100%
  );
  position: absolute;
  right: 50%;
  bottom: 50%;
  transform-origin: bottom right;
  z-index: 1;
  animation: rotateLoader 1.5s linear infinite;
}
@keyframes rotateLoader {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* .splashBehind {
    background: red;
    width: 100%;
    height: 100vh;
  }
  .splashBehindTwo {
    background: #6c63ff;
    width: 100%;
    height: 100vh;
  } */

.count--splash {
  line-height: 100px;
  color: black;
  margin-left: 30px;
  font-size: 25px;
}

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 75px 2837px #fff, 1651px 1803px #fff, 1794px 518px #fff,
    720px 1859px #fff, 282px 1542px #fff, 1274px 7px #fff, 1216px 1207px #fff,
    1968px 646px #fff, 1061px 973px #fff, 1915px 776px #fff, 193px 203px #fff,
    286px 309px #fff, 892px 615px #fff, 1635px 1697px #fff, 734px 85px #fff,
    1860px 89px #fff, 569px 391px #fff, 235px 1449px #fff, 1698px 1881px #fff,
    1869px 120px #fff, 1358px 1211px #fff, 1374px 1835px #fff, 492px 1628px #fff,
    1492px 1708px #fff, 749px 1873px #fff, 372px 443px #fff, 587px 1742px #fff,
    1246px 664px #fff, 1336px 1871px #fff, 1034px 401px #fff, 830px 1191px #fff,
    1281px 107px #fff, 550px 1665px #fff, 1053px 791px #fff, 1013px 669px #fff,
    955px 290px #fff, 1463px 559px #fff, 1273px 210px #fff, 1720px 640px #fff,
    836px 1276px #fff, 653px 964px #fff, 25px 1189px #fff, 1px 1377px #fff,
    906px 1491px #fff, 1594px 24px #fff, 154px 1529px #fff, 1711px 137px #fff,
    1269px 366px #fff, 1845px 581px #fff, 1849px 1704px #fff, 1169px 1239px #fff,
    868px 1506px #fff, 1429px 76px #fff, 981px 912px #fff, 1543px 1444px #fff,
    18px 1327px #fff, 1512px 523px #fff, 1123px 1330px #fff, 967px 43px #fff,
    344px 1046px #fff, 1523px 688px #fff, 1788px 1494px #fff, 1970px 1189px #fff,
    381px 154px #fff, 148px 1424px #fff, 1104px 1315px #fff, 439px 417px #fff,
    1625px 682px #fff, 731px 1069px #fff, 166px 1167px #fff, 1312px 170px #fff,
    1383px 1478px #fff, 1441px 472px #fff, 1270px 495px #fff, 1797px 56px #fff,
    1976px 1077px #fff, 1471px 1263px #fff, 1511px 1970px #fff,
    649px 1780px #fff, 1804px 1889px #fff, 1274px 1310px #fff, 1283px 737px #fff,
    648px 1391px #fff, 1169px 117px #fff, 987px 21px #fff, 1556px 1753px #fff,
    1271px 1194px #fff, 1774px 574px #fff, 1044px 359px #fff, 1473px 740px #fff,
    1546px 1551px #fff, 1081px 510px #fff, 667px 422px #fff, 270px 1729px #fff,
    1981px 1079px #fff, 563px 655px #fff, 121px 1218px #fff, 1607px 491px #fff,
    538px 667px #fff, 453px 1599px #fff, 1322px 1399px #fff, 949px 1669px #fff,
    1872px 1565px #fff, 1103px 1919px #fff, 216px 1955px #fff,
    1959px 1756px #fff, 1313px 1305px #fff, 382px 185px #fff, 1594px 181px #fff,
    1814px 1064px #fff, 24px 972px #fff, 1852px 1219px #fff, 1760px 499px #fff,
    1362px 1451px #fff, 1902px 136px #fff, 619px 1850px #fff, 241px 1501px #fff,
    212px 658px #fff, 1352px 427px #fff, 1999px 1344px #fff, 1187px 121px #fff,
    729px 384px #fff, 220px 1861px #fff, 1658px 1374px #fff, 1557px 1113px #fff,
    11px 50px #fff, 617px 269px #fff, 516px 1475px #fff, 729px 1137px #fff,
    1498px 725px #fff, 1594px 740px #fff, 580px 1755px #fff, 155px 1432px #fff,
    1085px 120px #fff, 734px 1219px #fff, 1315px 639px #fff, 1459px 1602px #fff,
    154px 221px #fff, 1288px 1507px #fff, 439px 1008px #fff, 836px 1685px #fff,
    162px 1575px #fff, 1811px 38px #fff, 1833px 696px #fff, 753px 266px #fff,
    1739px 1213px #fff, 1113px 231px #fff, 75px 1061px #fff, 1558px 1700px #fff,
    116px 768px #fff, 470px 622px #fff, 1504px 37px #fff, 881px 605px #fff,
    1439px 1629px #fff, 232px 294px #fff, 1039px 1133px #fff, 764px 1787px #fff,
    119px 1875px #fff, 1914px 1854px #fff, 1375px 988px #fff, 1974px 58px #fff,
    731px 1100px #fff, 1519px 1832px #fff, 1306px 899px #fff, 633px 921px #fff,
    1061px 658px #fff, 54px 1009px #fff, 409px 761px #fff, 1692px 1091px #fff,
    467px 786px #fff, 295px 1479px #fff, 1034px 231px #fff, 1266px 466px #fff,
    365px 1068px #fff, 1248px 1613px #fff, 271px 1434px #fff, 1088px 713px #fff,
    1744px 1349px #fff, 61px 251px #fff, 1301px 666px #fff, 922px 501px #fff,
    252px 1515px #fff, 1452px 1348px #fff, 206px 181px #fff, 125px 1799px #fff,
    1606px 1973px #fff, 1892px 1555px #fff, 1455px 128px #fff,
    1977px 1964px #fff, 1304px 1167px #fff, 1524px 792px #fff, 1075px 849px #fff,
    1362px 1489px #fff, 668px 33px #fff, 388px 747px #fff, 1437px 488px #fff,
    1888px 789px #fff, 1097px 315px #fff, 891px 1902px #fff, 1339px 1843px #fff,
    1075px 1778px #fff, 736px 917px #fff, 200px 792px #fff, 185px 1923px #fff,
    311px 1758px #fff, 1759px 1550px #fff, 710px 1735px #fff, 1018px 69px #fff,
    797px 693px #fff, 35px 137px #fff, 1560px 1157px #fff, 1464px 525px #fff,
    1850px 664px #fff, 38px 1588px #fff, 510px 1168px #fff, 1983px 229px #fff,
    88px 644px #fff, 755px 1115px #fff, 578px 333px #fff, 652px 581px #fff,
    596px 1609px #fff, 358px 696px #fff, 1587px 1644px #fff, 1738px 1029px #fff,
    1542px 1953px #fff, 1773px 705px #fff, 1340px 365px #fff, 1606px 775px #fff,
    407px 863px #fff, 1323px 77px #fff, 1952px 1714px #fff, 1741px 829px #fff,
    215px 1332px #fff, 833px 1230px #fff, 193px 584px #fff, 1207px 1092px #fff,
    271px 1660px #fff, 766px 16px #fff, 1627px 1917px #fff, 1418px 909px #fff,
    1147px 540px #fff, 554px 1824px #fff, 835px 428px #fff, 951px 1419px #fff,
    68px 1159px #fff, 1421px 1615px #fff, 1165px 1183px #fff, 938px 1038px #fff,
    1460px 1783px #fff, 21px 1110px #fff, 1140px 1616px #fff, 1894px 1225px #fff,
    134px 494px #fff, 1148px 1835px #fff, 1588px 594px #fff, 369px 784px #fff,
    1010px 1900px #fff, 226px 329px #fff, 1224px 304px #fff, 1085px 1164px #fff,
    1305px 857px #fff, 1881px 1318px #fff, 585px 1540px #fff, 1912px 668px #fff,
    168px 617px #fff, 1846px 691px #fff, 766px 1700px #fff, 215px 688px #fff,
    1481px 1182px #fff, 1717px 43px #fff, 1503px 1666px #fff, 1346px 1252px #fff,
    1994px 1194px #fff, 1589px 1293px #fff, 96px 30px #fff, 1649px 142px #fff,
    893px 678px #fff, 1287px 912px #fff, 172px 1700px #fff, 562px 1383px #fff,
    1017px 1006px #fff, 1621px 239px #fff, 192px 716px #fff, 1503px 1372px #fff,
    815px 1136px #fff, 1086px 852px #fff, 207px 686px #fff, 191px 1021px #fff,
    217px 1025px #fff, 1552px 70px #fff, 1961px 309px #fff, 1955px 1986px #fff,
    1348px 1688px #fff, 1332px 1325px #fff, 1055px 317px #fff,
    1012px 1456px #fff, 1075px 1849px #fff, 927px 1522px #fff, 369px 222px #fff,
    588px 562px #fff, 1967px 853px #fff, 774px 1122px #fff, 728px 1069px #fff,
    187px 1223px #fff, 1873px 238px #fff, 447px 1309px #fff, 1472px 1619px #fff,
    73px 1396px #fff, 613px 892px #fff, 1097px 1307px #fff, 1144px 1398px #fff,
    1439px 31px #fff, 403px 1326px #fff, 147px 592px #fff, 1383px 1443px #fff,
    277px 248px #fff, 1048px 29px #fff, 1824px 1588px #fff, 27px 239px #fff,
    761px 341px #fff, 1299px 893px #fff, 1676px 445px #fff, 384px 1667px #fff,
    1866px 1340px #fff, 999px 45px #fff, 454px 1407px #fff, 168px 1821px #fff,
    411px 806px #fff, 1569px 812px #fff, 1806px 887px #fff, 723px 1541px #fff,
    374px 285px #fff, 693px 1783px #fff, 1366px 896px #fff, 1645px 111px #fff,
    1005px 1206px #fff, 333px 775px #fff, 1650px 1669px #fff, 365px 1008px #fff,
    706px 636px #fff, 1277px 223px #fff, 61px 816px #fff, 821px 1671px #fff,
    1429px 1391px #fff, 787px 1832px #fff, 1635px 1236px #fff, 642px 346px #fff,
    1606px 1023px #fff, 1608px 235px #fff, 1368px 684px #fff, 1340px 360px #fff,
    311px 435px #fff, 844px 1110px #fff, 704px 494px #fff, 203px 1201px #fff,
    650px 274px #fff, 688px 1358px #fff, 623px 148px #fff, 1724px 64px #fff,
    603px 1721px #fff, 76px 1221px #fff, 1165px 1323px #fff, 64px 993px #fff,
    868px 246px #fff, 109px 542px #fff, 1619px 1873px #fff, 118px 1028px #fff,
    27px 599px #fff, 1203px 225px #fff, 423px 116px #fff, 193px 460px #fff,
    1380px 69px #fff, 1667px 869px #fff, 452px 1868px #fff, 202px 554px #fff,
    273px 1095px #fff, 1901px 63px #fff, 1067px 1397px #fff, 483px 145px #fff,
    731px 910px #fff, 546px 1036px #fff, 1782px 46px #fff, 117px 1763px #fff,
    1771px 607px #fff, 1011px 13px #fff, 476px 1702px #fff, 1159px 1269px #fff,
    1665px 1154px #fff, 386px 1003px #fff, 1268px 1589px #fff, 342px 1586px #fff,
    1042px 1229px #fff, 1737px 1065px #fff, 1828px 1750px #fff,
    224px 2000px #fff, 1724px 36px #fff, 487px 1747px #fff, 1824px 423px #fff,
    1199px 993px #fff, 409px 1407px #fff, 1747px 534px #fff, 990px 1611px #fff,
    1913px 1292px #fff, 1499px 1918px #fff, 380px 1483px #fff, 746px 1507px #fff,
    1110px 1247px #fff, 642px 1199px #fff, 730px 309px #fff, 722px 826px #fff,
    210px 480px #fff, 672px 389px #fff, 620px 733px #fff, 112px 901px #fff,
    277px 762px #fff, 1864px 1958px #fff, 974px 557px #fff, 896px 1671px #fff,
    1512px 1132px #fff, 1632px 1533px #fff, 639px 75px #fff, 1150px 821px #fff,
    103px 1710px #fff, 1075px 1588px #fff, 1154px 300px #fff, 1360px 339px #fff,
    1459px 1572px #fff, 357px 1631px #fff, 1593px 1153px #fff,
    1559px 1488px #fff, 976px 1079px #fff, 306px 652px #fff, 911px 294px #fff,
    1513px 1282px #fff, 1077px 483px #fff, 377px 1261px #fff, 1988px 1645px #fff,
    779px 552px #fff, 1393px 768px #fff, 217px 565px #fff, 589px 1073px #fff,
    782px 382px #fff, 1017px 1929px #fff, 987px 331px #fff, 933px 1161px #fff,
    27px 21px #fff, 1049px 1772px #fff, 1517px 1047px #fff, 1277px 1757px #fff,
    1152px 1218px #fff, 45px 811px #fff, 127px 367px #fff, 956px 1078px #fff,
    1531px 78px #fff, 1576px 176px #fff, 1641px 1949px #fff, 1453px 267px #fff,
    427px 560px #fff, 483px 1475px #fff, 1526px 829px #fff, 910px 622px #fff,
    489px 1189px #fff, 1107px 203px #fff, 171px 906px #fff, 1388px 751px #fff,
    1024px 1671px #fff, 213px 726px #fff, 1225px 196px #fff, 972px 1937px #fff,
    1772px 1823px #fff, 415px 1965px #fff, 1495px 42px #fff, 98px 1877px #fff,
    815px 44px #fff, 29px 1693px #fff, 1630px 1185px #fff, 1512px 103px #fff,
    951px 862px #fff, 1820px 1165px #fff, 1446px 434px #fff, 1850px 1345px #fff,
    1221px 1837px #fff, 1295px 562px #fff, 1797px 1481px #fff, 1931px 44px #fff,
    896px 1363px #fff, 639px 1470px #fff, 83px 406px #fff, 1238px 1926px #fff,
    1448px 16px #fff, 1847px 1638px #fff, 434px 96px #fff, 1818px 1053px #fff,
    482px 1113px #fff, 481px 1589px #fff, 1024px 187px #fff, 6px 1331px #fff,
    1495px 208px #fff, 467px 814px #fff, 11px 562px #fff, 1737px 1515px #fff,
    1784px 1672px #fff, 1925px 836px #fff, 140px 486px #fff, 1645px 1813px #fff,
    1214px 127px #fff, 1853px 1517px #fff, 862px 1224px #fff, 15px 54px #fff,
    605px 1967px #fff, 956px 212px #fff, 1920px 286px #fff, 723px 1395px #fff,
    990px 1121px #fff, 1836px 152px #fff, 304px 1736px #fff, 1623px 1982px #fff,
    1230px 1435px #fff, 1488px 1632px #fff, 1859px 842px #fff,
    1931px 1246px #fff, 1995px 1521px #fff, 692px 1331px #fff, 1658px 300px #fff,
    564px 1950px #fff, 1559px 1059px #fff, 1520px 832px #fff, 1053px 872px #fff,
    756px 1954px #fff, 518px 995px #fff, 215px 117px #fff, 238px 1728px #fff,
    383px 1354px #fff, 474px 931px #fff, 1463px 422px #fff, 1463px 889px #fff,
    913px 268px #fff, 1539px 1594px #fff, 869px 1374px #fff, 327px 179px #fff,
    534px 298px #fff, 1686px 1293px #fff, 347px 618px #fff, 409px 261px #fff,
    1031px 1981px #fff, 406px 1810px #fff, 646px 669px #fff, 890px 718px #fff,
    1138px 430px #fff, 337px 1392px #fff, 190px 1896px #fff, 1507px 1369px #fff,
    1561px 1507px #fff, 1841px 1058px #fff, 1677px 1836px #fff, 724px 996px #fff,
    1197px 1015px #fff, 612px 1314px #fff, 563px 870px #fff, 592px 123px #fff,
    41px 1549px #fff, 585px 1313px #fff, 147px 1356px #fff, 883px 1478px #fff,
    1522px 702px #fff, 672px 528px #fff, 848px 765px #fff, 1374px 1149px #fff,
    1348px 1161px #fff, 1873px 1037px #fff, 1396px 240px #fff, 1259px 61px #fff,
    1037px 1506px #fff, 944px 1928px #fff, 1709px 999px #fff, 437px 931px #fff,
    559px 71px #fff, 753px 803px #fff, 1185px 140px #fff, 1717px 1425px #fff,
    84px 1940px #fff, 880px 845px #fff, 946px 562px #fff, 1343px 1987px #fff,
    1639px 1819px #fff, 1100px 1423px #fff, 1741px 1872px #fff, 220px 591px #fff,
    1475px 1921px #fff, 1784px 153px #fff, 704px 1491px #fff, 1644px 1784px #fff,
    1459px 388px #fff, 665px 864px #fff, 1638px 1144px #fff, 216px 124px #fff,
    1953px 1245px #fff, 344px 1444px #fff, 1075px 365px #fff, 1164px 586px #fff,
    1163px 1667px #fff, 1908px 872px #fff, 678px 736px #fff, 1583px 141px #fff,
    336px 250px #fff, 1149px 1932px #fff, 172px 1040px #fff, 1184px 226px #fff,
    998px 1407px #fff, 1094px 41px #fff, 119px 1279px #fff, 249px 671px #fff,
    455px 512px #fff, 1510px 337px #fff, 1251px 735px #fff, 1664px 58px #fff,
    217px 1808px #fff, 137px 948px #fff, 1659px 279px #fff, 235px 1644px #fff,
    1849px 5px #fff, 427px 64px #fff, 512px 317px #fff, 312px 1578px #fff,
    1881px 1689px #fff, 1823px 1608px #fff, 1568px 941px #fff,
    1463px 1362px #fff, 1976px 1356px #fff, 742px 755px #fff, 925px 1410px #fff,
    1445px 1434px #fff, 1605px 722px #fff, 861px 717px #fff, 495px 1594px #fff,
    1368px 1963px #fff, 1839px 856px #fff, 1326px 234px #fff, 1095px 1225px #fff,
    1007px 30px #fff, 448px 1062px #fff, 478px 300px #fff, 1142px 1766px #fff,
    695px 1748px #fff, 1810px 1780px #fff, 269px 1565px #fff, 791px 20px #fff,
    373px 702px #fff, 611px 1306px #fff, 1235px 766px #fff, 1035px 1361px #fff,
    706px 359px #fff, 1924px 1436px #fff, 1984px 518px #fff, 1448px 793px #fff,
    1535px 1334px #fff, 462px 212px #fff, 1404px 1256px #fff, 425px 1465px #fff,
    467px 1208px #fff, 1714px 422px #fff, 927px 27px #fff, 275px 779px #fff,
    1791px 1975px #fff, 802px 326px #fff, 293px 1390px #fff, 553px 79px #fff,
    1837px 342px #fff, 293px 1639px #fff, 466px 1793px #fff, 1482px 642px #fff,
    1827px 373px #fff, 1463px 1354px #fff, 1945px 1284px #fff, 269px 1817px #fff,
    1145px 1096px #fff, 1398px 18px #fff, 172px 1965px #fff, 590px 430px #fff,
    414px 296px #fff, 1474px 914px #fff, 857px 1089px #fff, 40px 1826px #fff,
    1358px 1910px #fff, 611px 1229px #fff, 1564px 1410px #fff, 47px 503px #fff,
    900px 403px #fff, 1395px 1138px #fff, 235px 916px #fff, 208px 1370px #fff,
    70px 1578px #fff, 516px 1082px #fff, 707px 416px #fff, 227px 405px #fff,
    1370px 1364px #fff, 1187px 1802px #fff, 789px 22px #fff, 713px 1134px #fff,
    896px 1598px #fff;
  animation: animStar 50s linear infinite;
}
#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 75px 2837px #fff, 1651px 1803px #fff, 1794px 518px #fff,
    720px 1859px #fff, 282px 1542px #fff, 1274px 7px #fff, 1216px 1207px #fff,
    1968px 646px #fff, 1061px 973px #fff, 1915px 776px #fff, 193px 203px #fff,
    286px 309px #fff, 892px 615px #fff, 1635px 1697px #fff, 734px 85px #fff,
    1860px 89px #fff, 569px 391px #fff, 235px 1449px #fff, 1698px 1881px #fff,
    1869px 120px #fff, 1358px 1211px #fff, 1374px 1835px #fff, 492px 1628px #fff,
    1492px 1708px #fff, 749px 1873px #fff, 372px 443px #fff, 587px 1742px #fff,
    1246px 664px #fff, 1336px 1871px #fff, 1034px 401px #fff, 830px 1191px #fff,
    1281px 107px #fff, 550px 1665px #fff, 1053px 791px #fff, 1013px 669px #fff,
    955px 290px #fff, 1463px 559px #fff, 1273px 210px #fff, 1720px 640px #fff,
    836px 1276px #fff, 653px 964px #fff, 25px 1189px #fff, 1px 1377px #fff,
    906px 1491px #fff, 1594px 24px #fff, 154px 1529px #fff, 1711px 137px #fff,
    1269px 366px #fff, 1845px 581px #fff, 1849px 1704px #fff, 1169px 1239px #fff,
    868px 1506px #fff, 1429px 76px #fff, 981px 912px #fff, 1543px 1444px #fff,
    18px 1327px #fff, 1512px 523px #fff, 1123px 1330px #fff, 967px 43px #fff,
    344px 1046px #fff, 1523px 688px #fff, 1788px 1494px #fff, 1970px 1189px #fff,
    381px 154px #fff, 148px 1424px #fff, 1104px 1315px #fff, 439px 417px #fff,
    1625px 682px #fff, 731px 1069px #fff, 166px 1167px #fff, 1312px 170px #fff,
    1383px 1478px #fff, 1441px 472px #fff, 1270px 495px #fff, 1797px 56px #fff,
    1976px 1077px #fff, 1471px 1263px #fff, 1511px 1970px #fff,
    649px 1780px #fff, 1804px 1889px #fff, 1274px 1310px #fff, 1283px 737px #fff,
    648px 1391px #fff, 1169px 117px #fff, 987px 21px #fff, 1556px 1753px #fff,
    1271px 1194px #fff, 1774px 574px #fff, 1044px 359px #fff, 1473px 740px #fff,
    1546px 1551px #fff, 1081px 510px #fff, 667px 422px #fff, 270px 1729px #fff,
    1981px 1079px #fff, 563px 655px #fff, 121px 1218px #fff, 1607px 491px #fff,
    538px 667px #fff, 453px 1599px #fff, 1322px 1399px #fff, 949px 1669px #fff,
    1872px 1565px #fff, 1103px 1919px #fff, 216px 1955px #fff,
    1959px 1756px #fff, 1313px 1305px #fff, 382px 185px #fff, 1594px 181px #fff,
    1814px 1064px #fff, 24px 972px #fff, 1852px 1219px #fff, 1760px 499px #fff,
    1362px 1451px #fff, 1902px 136px #fff, 619px 1850px #fff, 241px 1501px #fff,
    212px 658px #fff, 1352px 427px #fff, 1999px 1344px #fff, 1187px 121px #fff,
    729px 384px #fff, 220px 1861px #fff, 1658px 1374px #fff, 1557px 1113px #fff,
    11px 50px #fff, 617px 269px #fff, 516px 1475px #fff, 729px 1137px #fff,
    1498px 725px #fff, 1594px 740px #fff, 580px 1755px #fff, 155px 1432px #fff,
    1085px 120px #fff, 734px 1219px #fff, 1315px 639px #fff, 1459px 1602px #fff,
    154px 221px #fff, 1288px 1507px #fff, 439px 1008px #fff, 836px 1685px #fff,
    162px 1575px #fff, 1811px 38px #fff, 1833px 696px #fff, 753px 266px #fff,
    1739px 1213px #fff, 1113px 231px #fff, 75px 1061px #fff, 1558px 1700px #fff,
    116px 768px #fff, 470px 622px #fff, 1504px 37px #fff, 881px 605px #fff,
    1439px 1629px #fff, 232px 294px #fff, 1039px 1133px #fff, 764px 1787px #fff,
    119px 1875px #fff, 1914px 1854px #fff, 1375px 988px #fff, 1974px 58px #fff,
    731px 1100px #fff, 1519px 1832px #fff, 1306px 899px #fff, 633px 921px #fff,
    1061px 658px #fff, 54px 1009px #fff, 409px 761px #fff, 1692px 1091px #fff,
    467px 786px #fff, 295px 1479px #fff, 1034px 231px #fff, 1266px 466px #fff,
    365px 1068px #fff, 1248px 1613px #fff, 271px 1434px #fff, 1088px 713px #fff,
    1744px 1349px #fff, 61px 251px #fff, 1301px 666px #fff, 922px 501px #fff,
    252px 1515px #fff, 1452px 1348px #fff, 206px 181px #fff, 125px 1799px #fff,
    1606px 1973px #fff, 1892px 1555px #fff, 1455px 128px #fff,
    1977px 1964px #fff, 1304px 1167px #fff, 1524px 792px #fff, 1075px 849px #fff,
    1362px 1489px #fff, 668px 33px #fff, 388px 747px #fff, 1437px 488px #fff,
    1888px 789px #fff, 1097px 315px #fff, 891px 1902px #fff, 1339px 1843px #fff,
    1075px 1778px #fff, 736px 917px #fff, 200px 792px #fff, 185px 1923px #fff,
    311px 1758px #fff, 1759px 1550px #fff, 710px 1735px #fff, 1018px 69px #fff,
    797px 693px #fff, 35px 137px #fff, 1560px 1157px #fff, 1464px 525px #fff,
    1850px 664px #fff, 38px 1588px #fff, 510px 1168px #fff, 1983px 229px #fff,
    88px 644px #fff, 755px 1115px #fff, 578px 333px #fff, 652px 581px #fff,
    596px 1609px #fff, 358px 696px #fff, 1587px 1644px #fff, 1738px 1029px #fff,
    1542px 1953px #fff, 1773px 705px #fff, 1340px 365px #fff, 1606px 775px #fff,
    407px 863px #fff, 1323px 77px #fff, 1952px 1714px #fff, 1741px 829px #fff,
    215px 1332px #fff, 833px 1230px #fff, 193px 584px #fff, 1207px 1092px #fff,
    271px 1660px #fff, 766px 16px #fff, 1627px 1917px #fff, 1418px 909px #fff,
    1147px 540px #fff, 554px 1824px #fff, 835px 428px #fff, 951px 1419px #fff,
    68px 1159px #fff, 1421px 1615px #fff, 1165px 1183px #fff, 938px 1038px #fff,
    1460px 1783px #fff, 21px 1110px #fff, 1140px 1616px #fff, 1894px 1225px #fff,
    134px 494px #fff, 1148px 1835px #fff, 1588px 594px #fff, 369px 784px #fff,
    1010px 1900px #fff, 226px 329px #fff, 1224px 304px #fff, 1085px 1164px #fff,
    1305px 857px #fff, 1881px 1318px #fff, 585px 1540px #fff, 1912px 668px #fff,
    168px 617px #fff, 1846px 691px #fff, 766px 1700px #fff, 215px 688px #fff,
    1481px 1182px #fff, 1717px 43px #fff, 1503px 1666px #fff, 1346px 1252px #fff,
    1994px 1194px #fff, 1589px 1293px #fff, 96px 30px #fff, 1649px 142px #fff,
    893px 678px #fff, 1287px 912px #fff, 172px 1700px #fff, 562px 1383px #fff,
    1017px 1006px #fff, 1621px 239px #fff, 192px 716px #fff, 1503px 1372px #fff,
    815px 1136px #fff, 1086px 852px #fff, 207px 686px #fff, 191px 1021px #fff,
    217px 1025px #fff, 1552px 70px #fff, 1961px 309px #fff, 1955px 1986px #fff,
    1348px 1688px #fff, 1332px 1325px #fff, 1055px 317px #fff,
    1012px 1456px #fff, 1075px 1849px #fff, 927px 1522px #fff, 369px 222px #fff,
    588px 562px #fff, 1967px 853px #fff, 774px 1122px #fff, 728px 1069px #fff,
    187px 1223px #fff, 1873px 238px #fff, 447px 1309px #fff, 1472px 1619px #fff,
    73px 1396px #fff, 613px 892px #fff, 1097px 1307px #fff, 1144px 1398px #fff,
    1439px 31px #fff, 403px 1326px #fff, 147px 592px #fff, 1383px 1443px #fff,
    277px 248px #fff, 1048px 29px #fff, 1824px 1588px #fff, 27px 239px #fff,
    761px 341px #fff, 1299px 893px #fff, 1676px 445px #fff, 384px 1667px #fff,
    1866px 1340px #fff, 999px 45px #fff, 454px 1407px #fff, 168px 1821px #fff,
    411px 806px #fff, 1569px 812px #fff, 1806px 887px #fff, 723px 1541px #fff,
    374px 285px #fff, 693px 1783px #fff, 1366px 896px #fff, 1645px 111px #fff,
    1005px 1206px #fff, 333px 775px #fff, 1650px 1669px #fff, 365px 1008px #fff,
    706px 636px #fff, 1277px 223px #fff, 61px 816px #fff, 821px 1671px #fff,
    1429px 1391px #fff, 787px 1832px #fff, 1635px 1236px #fff, 642px 346px #fff,
    1606px 1023px #fff, 1608px 235px #fff, 1368px 684px #fff, 1340px 360px #fff,
    311px 435px #fff, 844px 1110px #fff, 704px 494px #fff, 203px 1201px #fff,
    650px 274px #fff, 688px 1358px #fff, 623px 148px #fff, 1724px 64px #fff,
    603px 1721px #fff, 76px 1221px #fff, 1165px 1323px #fff, 64px 993px #fff,
    868px 246px #fff, 109px 542px #fff, 1619px 1873px #fff, 118px 1028px #fff,
    27px 599px #fff, 1203px 225px #fff, 423px 116px #fff, 193px 460px #fff,
    1380px 69px #fff, 1667px 869px #fff, 452px 1868px #fff, 202px 554px #fff,
    273px 1095px #fff, 1901px 63px #fff, 1067px 1397px #fff, 483px 145px #fff,
    731px 910px #fff, 546px 1036px #fff, 1782px 46px #fff, 117px 1763px #fff,
    1771px 607px #fff, 1011px 13px #fff, 476px 1702px #fff, 1159px 1269px #fff,
    1665px 1154px #fff, 386px 1003px #fff, 1268px 1589px #fff, 342px 1586px #fff,
    1042px 1229px #fff, 1737px 1065px #fff, 1828px 1750px #fff,
    224px 2000px #fff, 1724px 36px #fff, 487px 1747px #fff, 1824px 423px #fff,
    1199px 993px #fff, 409px 1407px #fff, 1747px 534px #fff, 990px 1611px #fff,
    1913px 1292px #fff, 1499px 1918px #fff, 380px 1483px #fff, 746px 1507px #fff,
    1110px 1247px #fff, 642px 1199px #fff, 730px 309px #fff, 722px 826px #fff,
    210px 480px #fff, 672px 389px #fff, 620px 733px #fff, 112px 901px #fff,
    277px 762px #fff, 1864px 1958px #fff, 974px 557px #fff, 896px 1671px #fff,
    1512px 1132px #fff, 1632px 1533px #fff, 639px 75px #fff, 1150px 821px #fff,
    103px 1710px #fff, 1075px 1588px #fff, 1154px 300px #fff, 1360px 339px #fff,
    1459px 1572px #fff, 357px 1631px #fff, 1593px 1153px #fff,
    1559px 1488px #fff, 976px 1079px #fff, 306px 652px #fff, 911px 294px #fff,
    1513px 1282px #fff, 1077px 483px #fff, 377px 1261px #fff, 1988px 1645px #fff,
    779px 552px #fff, 1393px 768px #fff, 217px 565px #fff, 589px 1073px #fff,
    782px 382px #fff, 1017px 1929px #fff, 987px 331px #fff, 933px 1161px #fff,
    27px 21px #fff, 1049px 1772px #fff, 1517px 1047px #fff, 1277px 1757px #fff,
    1152px 1218px #fff, 45px 811px #fff, 127px 367px #fff, 956px 1078px #fff,
    1531px 78px #fff, 1576px 176px #fff, 1641px 1949px #fff, 1453px 267px #fff,
    427px 560px #fff, 483px 1475px #fff, 1526px 829px #fff, 910px 622px #fff,
    489px 1189px #fff, 1107px 203px #fff, 171px 906px #fff, 1388px 751px #fff,
    1024px 1671px #fff, 213px 726px #fff, 1225px 196px #fff, 972px 1937px #fff,
    1772px 1823px #fff, 415px 1965px #fff, 1495px 42px #fff, 98px 1877px #fff,
    815px 44px #fff, 29px 1693px #fff, 1630px 1185px #fff, 1512px 103px #fff,
    951px 862px #fff, 1820px 1165px #fff, 1446px 434px #fff, 1850px 1345px #fff,
    1221px 1837px #fff, 1295px 562px #fff, 1797px 1481px #fff, 1931px 44px #fff,
    896px 1363px #fff, 639px 1470px #fff, 83px 406px #fff, 1238px 1926px #fff,
    1448px 16px #fff, 1847px 1638px #fff, 434px 96px #fff, 1818px 1053px #fff,
    482px 1113px #fff, 481px 1589px #fff, 1024px 187px #fff, 6px 1331px #fff,
    1495px 208px #fff, 467px 814px #fff, 11px 562px #fff, 1737px 1515px #fff,
    1784px 1672px #fff, 1925px 836px #fff, 140px 486px #fff, 1645px 1813px #fff,
    1214px 127px #fff, 1853px 1517px #fff, 862px 1224px #fff, 15px 54px #fff,
    605px 1967px #fff, 956px 212px #fff, 1920px 286px #fff, 723px 1395px #fff,
    990px 1121px #fff, 1836px 152px #fff, 304px 1736px #fff, 1623px 1982px #fff,
    1230px 1435px #fff, 1488px 1632px #fff, 1859px 842px #fff,
    1931px 1246px #fff, 1995px 1521px #fff, 692px 1331px #fff, 1658px 300px #fff,
    564px 1950px #fff, 1559px 1059px #fff, 1520px 832px #fff, 1053px 872px #fff,
    756px 1954px #fff, 518px 995px #fff, 215px 117px #fff, 238px 1728px #fff,
    383px 1354px #fff, 474px 931px #fff, 1463px 422px #fff, 1463px 889px #fff,
    913px 268px #fff, 1539px 1594px #fff, 869px 1374px #fff, 327px 179px #fff,
    534px 298px #fff, 1686px 1293px #fff, 347px 618px #fff, 409px 261px #fff,
    1031px 1981px #fff, 406px 1810px #fff, 646px 669px #fff, 890px 718px #fff,
    1138px 430px #fff, 337px 1392px #fff, 190px 1896px #fff, 1507px 1369px #fff,
    1561px 1507px #fff, 1841px 1058px #fff, 1677px 1836px #fff, 724px 996px #fff,
    1197px 1015px #fff, 612px 1314px #fff, 563px 870px #fff, 592px 123px #fff,
    41px 1549px #fff, 585px 1313px #fff, 147px 1356px #fff, 883px 1478px #fff,
    1522px 702px #fff, 672px 528px #fff, 848px 765px #fff, 1374px 1149px #fff,
    1348px 1161px #fff, 1873px 1037px #fff, 1396px 240px #fff, 1259px 61px #fff,
    1037px 1506px #fff, 944px 1928px #fff, 1709px 999px #fff, 437px 931px #fff,
    559px 71px #fff, 753px 803px #fff, 1185px 140px #fff, 1717px 1425px #fff,
    84px 1940px #fff, 880px 845px #fff, 946px 562px #fff, 1343px 1987px #fff,
    1639px 1819px #fff, 1100px 1423px #fff, 1741px 1872px #fff, 220px 591px #fff,
    1475px 1921px #fff, 1784px 153px #fff, 704px 1491px #fff, 1644px 1784px #fff,
    1459px 388px #fff, 665px 864px #fff, 1638px 1144px #fff, 216px 124px #fff,
    1953px 1245px #fff, 344px 1444px #fff, 1075px 365px #fff, 1164px 586px #fff,
    1163px 1667px #fff, 1908px 872px #fff, 678px 736px #fff, 1583px 141px #fff,
    336px 250px #fff, 1149px 1932px #fff, 172px 1040px #fff, 1184px 226px #fff,
    998px 1407px #fff, 1094px 41px #fff, 119px 1279px #fff, 249px 671px #fff,
    455px 512px #fff, 1510px 337px #fff, 1251px 735px #fff, 1664px 58px #fff,
    217px 1808px #fff, 137px 948px #fff, 1659px 279px #fff, 235px 1644px #fff,
    1849px 5px #fff, 427px 64px #fff, 512px 317px #fff, 312px 1578px #fff,
    1881px 1689px #fff, 1823px 1608px #fff, 1568px 941px #fff,
    1463px 1362px #fff, 1976px 1356px #fff, 742px 755px #fff, 925px 1410px #fff,
    1445px 1434px #fff, 1605px 722px #fff, 861px 717px #fff, 495px 1594px #fff,
    1368px 1963px #fff, 1839px 856px #fff, 1326px 234px #fff, 1095px 1225px #fff,
    1007px 30px #fff, 448px 1062px #fff, 478px 300px #fff, 1142px 1766px #fff,
    695px 1748px #fff, 1810px 1780px #fff, 269px 1565px #fff, 791px 20px #fff,
    373px 702px #fff, 611px 1306px #fff, 1235px 766px #fff, 1035px 1361px #fff,
    706px 359px #fff, 1924px 1436px #fff, 1984px 518px #fff, 1448px 793px #fff,
    1535px 1334px #fff, 462px 212px #fff, 1404px 1256px #fff, 425px 1465px #fff,
    467px 1208px #fff, 1714px 422px #fff, 927px 27px #fff, 275px 779px #fff,
    1791px 1975px #fff, 802px 326px #fff, 293px 1390px #fff, 553px 79px #fff,
    1837px 342px #fff, 293px 1639px #fff, 466px 1793px #fff, 1482px 642px #fff,
    1827px 373px #fff, 1463px 1354px #fff, 1945px 1284px #fff, 269px 1817px #fff,
    1145px 1096px #fff, 1398px 18px #fff, 172px 1965px #fff, 590px 430px #fff,
    414px 296px #fff, 1474px 914px #fff, 857px 1089px #fff, 40px 1826px #fff,
    1358px 1910px #fff, 611px 1229px #fff, 1564px 1410px #fff, 47px 503px #fff,
    900px 403px #fff, 1395px 1138px #fff, 235px 916px #fff, 208px 1370px #fff,
    70px 1578px #fff, 516px 1082px #fff, 707px 416px #fff, 227px 405px #fff,
    1370px 1364px #fff, 1187px 1802px #fff, 789px 22px #fff, 713px 1134px #fff,
    896px 1598px #fff;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 433px 17225px #fff, 135px 984px #fff, 344px 1938px #fff,
    1576px 1408px #fff, 418px 605px #fff, 144px 222px #fff, 1426px 27px #fff,
    1094px 1930px #fff, 199px 1834px #fff, 1588px 735px #fff, 1034px 1047px #fff,
    710px 864px #fff, 414px 1011px #fff, 526px 372px #fff, 872px 1483px #fff,
    1072px 1050px #fff, 1093px 711px #fff, 249px 1893px #fff, 21px 1430px #fff,
    782px 869px #fff, 1651px 615px #fff, 797px 457px #fff, 504px 1260px #fff,
    1621px 1890px #fff, 1535px 1166px #fff, 145px 1250px #fff, 1328px 28px #fff,
    1500px 1603px #fff, 1402px 201px #fff, 952px 836px #fff, 1186px 1532px #fff,
    323px 1273px #fff, 158px 1919px #fff, 649px 1193px #fff, 708px 1806px #fff,
    450px 637px #fff, 54px 260px #fff, 1341px 74px #fff, 891px 1246px #fff,
    1036px 1496px #fff, 1614px 819px #fff, 1386px 696px #fff, 1642px 760px #fff,
    1722px 1484px #fff, 1991px 722px #fff, 776px 1368px #fff, 1818px 1881px #fff,
    1778px 1875px #fff, 1014px 311px #fff, 560px 791px #fff, 736px 533px #fff,
    1151px 1103px #fff, 844px 1553px #fff, 1308px 1076px #fff, 1867px 359px #fff,
    1400px 1675px #fff, 1412px 454px #fff, 569px 1434px #fff, 574px 1677px #fff,
    1204px 392px #fff, 914px 1923px #fff, 1012px 1555px #fff, 119px 791px #fff,
    915px 924px #fff, 577px 1677px #fff, 81px 1092px #fff, 1391px 786px #fff,
    876px 267px #fff, 1478px 592px #fff, 1444px 1146px #fff, 864px 1597px #fff,
    1856px 1533px #fff, 517px 1464px #fff, 492px 1876px #fff, 479px 265px #fff,
    1552px 1741px #fff, 861px 1113px #fff, 334px 379px #fff, 1226px 1223px #fff,
    674px 1989px #fff, 378px 423px #fff, 479px 1475px #fff, 1731px 1312px #fff,
    66px 1457px #fff, 510px 744px #fff, 53px 602px #fff, 1002px 10px #fff,
    537px 1970px #fff, 1209px 1455px #fff, 1510px 662px #fff, 1720px 371px #fff,
    1361px 1100px #fff, 1740px 414px #fff, 521px 818px #fff, 1263px 795px #fff,
    1273px 1712px #fff, 205px 1961px #fff, 1198px 477px #fff, 1793px 676px #fff,
    832px 267px #fff, 1px 1975px #fff, 1335px 777px #fff, 1049px 423px #fff,
    1875px 76px #fff, 1259px 673px #fff, 321px 1537px #fff, 311px 1728px #fff,
    1405px 1823px #fff, 882px 1431px #fff, 1823px 1200px #fff, 1017px 102px #fff,
    70px 1941px #fff, 912px 1626px #fff, 1307px 908px #fff, 1774px 591px #fff,
    1034px 1768px #fff, 1372px 1692px #fff, 999px 24px #fff, 1568px 688px #fff,
    1093px 711px #fff, 288px 1496px #fff, 113px 1920px #fff, 416px 257px #fff,
    269px 1289px #fff, 401px 311px #fff, 280px 1674px #fff, 1735px 37px #fff,
    1313px 630px #fff, 1747px 419px #fff, 53px 99px #fff, 447px 1251px #fff,
    1436px 458px #fff, 1982px 1814px #fff, 130px 1px #fff, 62px 193px #fff,
    1967px 898px #fff, 185px 1017px #fff, 1952px 1252px #fff, 1213px 982px #fff,
    1638px 1284px #fff, 1719px 1895px #fff, 1723px 471px #fff, 1007px 950px #fff,
    1039px 1822px #fff, 587px 558px #fff, 553px 366px #fff, 1180px 76px #fff,
    160px 777px #fff, 1539px 841px #fff, 1204px 264px #fff, 1888px 83px #fff,
    884px 230px #fff, 299px 173px #fff, 1298px 1401px #fff, 1972px 532px #fff,
    1552px 1387px #fff, 497px 1149px #fff, 1363px 1670px #fff, 787px 864px #fff,
    1868px 760px #fff, 995px 572px #fff, 863px 774px #fff, 553px 1385px #fff,
    1015px 397px #fff, 240px 102px #fff, 149px 906px #fff, 943px 1539px #fff,
    103px 847px #fff, 462px 1971px #fff, 1026px 878px #fff, 670px 317px #fff,
    1519px 697px #fff, 1621px 1961px #fff, 735px 267px #fff, 595px 733px #fff,
    582px 1920px #fff, 782px 1334px #fff, 884px 938px #fff, 1475px 351px #fff,
    1285px 1447px #fff, 1168px 300px #fff, 927px 1888px #fff, 1916px 563px #fff,
    1276px 1164px #fff, 847px 1558px #fff, 727px 1471px #fff, 487px 411px #fff,
    162px 1210px #fff, 210px 1736px #fff, 1583px 641px #fff, 1112px 754px #fff,
    233px 115px #fff, 472px 729px #fff, 820px 488px #fff, 1559px 1992px #fff,
    1901px 433px #fff, 1084px 629px #fff, 1090px 1670px #fff, 1668px 1637px #fff,
    680px 1665px #fff;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 433px 17225px #fff, 135px 984px #fff, 344px 1938px #fff,
    1576px 1408px #fff, 418px 605px #fff, 144px 222px #fff, 1426px 27px #fff,
    1094px 1930px #fff, 199px 1834px #fff, 1588px 735px #fff, 1034px 1047px #fff,
    710px 864px #fff, 414px 1011px #fff, 526px 372px #fff, 872px 1483px #fff,
    1072px 1050px #fff, 1093px 711px #fff, 249px 1893px #fff, 21px 1430px #fff,
    782px 869px #fff, 1651px 615px #fff, 797px 457px #fff, 504px 1260px #fff,
    1621px 1890px #fff, 1535px 1166px #fff, 145px 1250px #fff, 1328px 28px #fff,
    1500px 1603px #fff, 1402px 201px #fff, 952px 836px #fff, 1186px 1532px #fff,
    323px 1273px #fff, 158px 1919px #fff, 649px 1193px #fff, 708px 1806px #fff,
    450px 637px #fff, 54px 260px #fff, 1341px 74px #fff, 891px 1246px #fff,
    1036px 1496px #fff, 1614px 819px #fff, 1386px 696px #fff, 1642px 760px #fff,
    1722px 1484px #fff, 1991px 722px #fff, 776px 1368px #fff, 1818px 1881px #fff,
    1778px 1875px #fff, 1014px 311px #fff, 560px 791px #fff, 736px 533px #fff,
    1151px 1103px #fff, 844px 1553px #fff, 1308px 1076px #fff, 1867px 359px #fff,
    1400px 1675px #fff, 1412px 454px #fff, 569px 1434px #fff, 574px 1677px #fff,
    1204px 392px #fff, 914px 1923px #fff, 1012px 1555px #fff, 119px 791px #fff,
    915px 924px #fff, 577px 1677px #fff, 81px 1092px #fff, 1391px 786px #fff,
    876px 267px #fff, 1478px 592px #fff, 1444px 1146px #fff, 864px 1597px #fff,
    1856px 1533px #fff, 517px 1464px #fff, 492px 1876px #fff, 479px 265px #fff,
    1552px 1741px #fff, 861px 1113px #fff, 334px 379px #fff, 1226px 1223px #fff,
    674px 1989px #fff, 378px 423px #fff, 479px 1475px #fff, 1731px 1312px #fff,
    66px 1457px #fff, 510px 744px #fff, 53px 602px #fff, 1002px 10px #fff,
    537px 1970px #fff, 1209px 1455px #fff, 1510px 662px #fff, 1720px 371px #fff,
    1361px 1100px #fff, 1740px 414px #fff, 521px 818px #fff, 1263px 795px #fff,
    1273px 1712px #fff, 205px 1961px #fff, 1198px 477px #fff, 1793px 676px #fff,
    832px 267px #fff, 1px 1975px #fff, 1335px 777px #fff, 1049px 423px #fff,
    1875px 76px #fff, 1259px 673px #fff, 321px 1537px #fff, 311px 1728px #fff,
    1405px 1823px #fff, 882px 1431px #fff, 1823px 1200px #fff, 1017px 102px #fff,
    70px 1941px #fff, 912px 1626px #fff, 1307px 908px #fff, 1774px 591px #fff,
    1034px 1768px #fff, 1372px 1692px #fff, 999px 24px #fff, 1568px 688px #fff,
    1093px 711px #fff, 288px 1496px #fff, 113px 1920px #fff, 416px 257px #fff,
    269px 1289px #fff, 401px 311px #fff, 280px 1674px #fff, 1735px 37px #fff,
    1313px 630px #fff, 1747px 419px #fff, 53px 99px #fff, 447px 1251px #fff,
    1436px 458px #fff, 1982px 1814px #fff, 130px 1px #fff, 62px 193px #fff,
    1967px 898px #fff, 185px 1017px #fff, 1952px 1252px #fff, 1213px 982px #fff,
    1638px 1284px #fff, 1719px 1895px #fff, 1723px 471px #fff, 1007px 950px #fff,
    1039px 1822px #fff, 587px 558px #fff, 553px 366px #fff, 1180px 76px #fff,
    160px 777px #fff, 1539px 841px #fff, 1204px 264px #fff, 1888px 83px #fff,
    884px 230px #fff, 299px 173px #fff, 1298px 1401px #fff, 1972px 532px #fff,
    1552px 1387px #fff, 497px 1149px #fff, 1363px 1670px #fff, 787px 864px #fff,
    1868px 760px #fff, 995px 572px #fff, 863px 774px #fff, 553px 1385px #fff,
    1015px 397px #fff, 240px 102px #fff, 149px 906px #fff, 943px 1539px #fff,
    103px 847px #fff, 462px 1971px #fff, 1026px 878px #fff, 670px 317px #fff,
    1519px 697px #fff, 1621px 1961px #fff, 735px 267px #fff, 595px 733px #fff,
    582px 1920px #fff, 782px 1334px #fff, 884px 938px #fff, 1475px 351px #fff,
    1285px 1447px #fff, 1168px 300px #fff, 927px 1888px #fff, 1916px 563px #fff,
    1276px 1164px #fff, 847px 1558px #fff, 727px 1471px #fff, 487px 411px #fff,
    162px 1210px #fff, 210px 1736px #fff, 1583px 641px #fff, 1112px 754px #fff,
    233px 115px #fff, 472px 729px #fff, 820px 488px #fff, 1559px 1992px #fff,
    1901px 433px #fff, 1084px 629px #fff, 1090px 1670px #fff, 1668px 1637px #fff,
    680px 1665px #fff;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1047px 7362px #fff, 1895px 1222px #fff, 407px 824px #fff,
    1937px 1221px #fff, 446px 564px #fff, 1292px 1685px #fff, 1600px 431px #fff,
    1698px 1215px #fff, 296px 28px #fff, 1634px 1095px #fff, 1713px 853px #fff,
    458px 1709px #fff, 1022px 1364px #fff, 1437px 61px #fff, 1031px 1429px #fff,
    621px 591px #fff, 285px 259px #fff, 848px 696px #fff, 92px 1083px #fff,
    1134px 452px #fff, 1851px 929px #fff, 951px 1589px #fff, 636px 1839px #fff,
    1753px 1449px #fff, 1075px 991px #fff, 1820px 462px #fff, 742px 817px #fff,
    530px 532px #fff, 1687px 1328px #fff, 1821px 67px #fff, 747px 691px #fff,
    1464px 769px #fff, 264px 857px #fff, 1621px 1231px #fff, 188px 1255px #fff,
    869px 505px #fff, 748px 373px #fff, 1504px 1331px #fff, 1276px 1459px #fff,
    77px 530px #fff, 975px 485px #fff, 586px 1597px #fff, 407px 765px #fff,
    129px 79px #fff, 1379px 1760px #fff, 1893px 665px #fff, 713px 836px #fff,
    1300px 1632px #fff, 1762px 659px #fff, 430px 608px #fff, 724px 50px #fff,
    1468px 781px #fff, 597px 1420px #fff, 1646px 1591px #fff, 1786px 1192px #fff,
    1379px 216px #fff, 1963px 261px #fff, 1295px 1830px #fff, 1875px 168px #fff,
    141px 220px #fff, 1343px 1414px #fff, 442px 1786px #fff, 428px 260px #fff,
    1133px 499px #fff, 973px 419px #fff, 435px 1835px #fff, 891px 1203px #fff,
    1002px 1897px #fff, 176px 1859px #fff, 674px 839px #fff, 1953px 201px #fff,
    1869px 560px #fff, 130px 1035px #fff, 1864px 805px #fff, 1813px 601px #fff,
    640px 697px #fff, 1770px 1691px #fff, 45px 1941px #fff, 493px 1968px #fff,
    1329px 1223px #fff, 1339px 1837px #fff, 1882px 1447px #fff,
    1245px 190px #fff, 1940px 1980px #fff, 5px 684px #fff, 1440px 1553px #fff,
    454px 1325px #fff, 478px 109px #fff, 1274px 1423px #fff, 680px 833px #fff,
    1037px 1826px #fff, 944px 1658px #fff, 1410px 75px #fff, 1713px 369px #fff,
    1566px 96px #fff, 289px 1223px #fff, 744px 1162px #fff, 1972px 807px #fff,
    190px 1231px #fff, 361px 836px #fff;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1047px 7362px #fff, 1895px 1222px #fff, 407px 824px #fff,
    1937px 1221px #fff, 446px 564px #fff, 1292px 1685px #fff, 1600px 431px #fff,
    1698px 1215px #fff, 296px 28px #fff, 1634px 1095px #fff, 1713px 853px #fff,
    458px 1709px #fff, 1022px 1364px #fff, 1437px 61px #fff, 1031px 1429px #fff,
    621px 591px #fff, 285px 259px #fff, 848px 696px #fff, 92px 1083px #fff,
    1134px 452px #fff, 1851px 929px #fff, 951px 1589px #fff, 636px 1839px #fff,
    1753px 1449px #fff, 1075px 991px #fff, 1820px 462px #fff, 742px 817px #fff,
    530px 532px #fff, 1687px 1328px #fff, 1821px 67px #fff, 747px 691px #fff,
    1464px 769px #fff, 264px 857px #fff, 1621px 1231px #fff, 188px 1255px #fff,
    869px 505px #fff, 748px 373px #fff, 1504px 1331px #fff, 1276px 1459px #fff,
    77px 530px #fff, 975px 485px #fff, 586px 1597px #fff, 407px 765px #fff,
    129px 79px #fff, 1379px 1760px #fff, 1893px 665px #fff, 713px 836px #fff,
    1300px 1632px #fff, 1762px 659px #fff, 430px 608px #fff, 724px 50px #fff,
    1468px 781px #fff, 597px 1420px #fff, 1646px 1591px #fff, 1786px 1192px #fff,
    1379px 216px #fff, 1963px 261px #fff, 1295px 1830px #fff, 1875px 168px #fff,
    141px 220px #fff, 1343px 1414px #fff, 442px 1786px #fff, 428px 260px #fff,
    1133px 499px #fff, 973px 419px #fff, 435px 1835px #fff, 891px 1203px #fff,
    1002px 1897px #fff, 176px 1859px #fff, 674px 839px #fff, 1953px 201px #fff,
    1869px 560px #fff, 130px 1035px #fff, 1864px 805px #fff, 1813px 601px #fff,
    640px 697px #fff, 1770px 1691px #fff, 45px 1941px #fff, 493px 1968px #fff,
    1329px 1223px #fff, 1339px 1837px #fff, 1882px 1447px #fff,
    1245px 190px #fff, 1940px 1980px #fff, 5px 684px #fff, 1440px 1553px #fff,
    454px 1325px #fff, 478px 109px #fff, 1274px 1423px #fff, 680px 833px #fff,
    1037px 1826px #fff, 944px 1658px #fff, 1410px 75px #fff, 1713px 369px #fff,
    1566px 96px #fff, 289px 1223px #fff, 744px 1162px #fff, 1972px 807px #fff,
    190px 1231px #fff, 361px 836px #fff;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
